h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
.heading-1 {
  font-size: var(--step-up-5);
  font-weight: 500;
}

h2,
.heading-2 {
  font-size: var(--step-up-4);
  font-weight: 500;
}

h3,
.heading-3 {
  font-size: var(--step-up-3);
  font-weight: 600;
}

h4,
.heading-4 {
  font-size: var(--step-up-2);
}

p, .paragraph {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
