@import '../../styles/variables';

.header {
  background: #FFF;
  border-bottom: 1px solid $light-gray;

  &__container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 1300px;
    padding: 16px 24px;
  }
}
