@import './styles/typography';
@import './styles/mixins';
@import './styles/buttons';

:root {
  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #F0F2F3;
}

.container {
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto;

  &--landing {
    text-align: center;
  }
}

.visually-hidden {
  @include visuallyHidden;
}
